html {
  height: 100%;
}

body {
  width: 100%;
  min-height: 100%;
  overflow: hidden;
}

/*body {
  background-image: url("/static/background1.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background
  color: #000;
  line-height: 1.3;
  -webkit-font-smoothing: antialiased;
}*/


/*.nav-transparent {
  background: linear-gradient(rgba(0, 0, 0, 0.4), transparent);
  font-size: 1.2em;
  z-index: 100;
}*/
.container-fluid {
  background-image: url("/static/background1.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  color: #000;
  line-height: 1.3;
  height: 100vh;
  -webkit-font-smoothing: antialiased;
}

/*.homepage {
  background-image: url("/static/background1.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  color: #000;
  line-height: 1.3;
  height: 100vh;
  -webkit-font-smoothing: antialiased;
  z-index: -1;
}*/

.container { 
  height: 80%;
 }

 input[type="text"], input[type="password"], {
  width: 300px;
  padding: 10px 0px;
  background: transparent;
  border: 0;
  border-bottom: 1px solid #e7d1bc;
  border-radius: 0;
  outline: none;
  color: #e7d1bc;
  font-size: 16px;
  text-align: center;
  font-family: 'Playfair Display', serif;
  font-weight: 300;
  font-style: italic;
  margin: 25px;
}

input[type="submit"] {

}

.row {
  background: transparent;
  border: 0;
  /*border-bottom: 1px solid #e7d1bc;*/
  border-radius: 0;
  outline: none;
  font-family: 'Apple Chancery';
}

/*.row {
  background: transparent;
  border: 0;
  border-bottom: 1px solid #e7d1bc;
  border-radius: 0;
  outline: none;
  margin-top: 20%;
  font-family: 'Apple Chancery';
}*/