<!DOCTYPE html>
<html>
<head>
  <script
      src="https://code.jquery.com/jquery-3.4.1.js"
      integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
      crossorigin="anonymous"></script>
    <title></title>
</head>
<body>

PodcastStudio

{% if session.get("logged_in_user") == None %}
  <a href="/login">Log In</a>
{% endif %}
{% if session.get("logged_in_user") %}
  <a href="/logout">Log Out</a>
{% endif %}
  <hr>

{% with messages = get_flashed_messages() %}
  {% if messages %}
    <p class=flashes>
    {% for message in messages %}
      {{ message }}<br>
    {% endfor %}
    </p>
  {% endif %}
{% endwith %}

 {% block content %} put your content here {% endblock %}
    
</body>
</html>