{% extends 'base.html' %}
{% block content %}

<a href="/upload">upload</a><br>

<h3>My Podcasts</h3>
<ul id='podcast-list'>
    {% for edt_podcast in audios %}
    <li>

      <div class= "podcast-name" data-pod-id="{{ edt_podcast.audio_id }}">{{ edt_podcast.name }}</div> 
      <audio controls id="audio">
        <source src="{{ edt_podcast.s3_path }}">
      </audio>

      <form enctype= "form-data" action="/my-podcasts">
        <input type="hidden" name="edt_id" value="{{ edt_podcast.audio_id}}">
      </form>

      <form class="publish-form" enctype="form-data" action="/publish" method="POST" id="{{ edt_podcast.audio_id }}">
        <input type="hidden" name="publish" value="{{ edt_podcast.published }}">
        <button class="publish-btn" id="{{ edt_podcast.audio_id }}">{% if edt_podcast.published %}Unpublish{% else %}Publish{% endif %}</button>
      </form>

      <form enctype="form-data" action="/delete-audio/{{ edt_podcast.audio_id }}" method="POST">
        <input type="hidden" name="delete-audio" value="{{ edt_podcast.audio_id }}">
        <button href="/delete-audio">delete</button>
      </form>
    </li>
{% endfor %}
</ul>

<script src="/static/edit_podcasts.js"></script>
<script src="/static/publish_podcast.js"></script>


{% endblock %}
