{% extends 'base.html' %}
{% block content %}

<h3 class="text-center" id="podcast">My Podcasts</h3>
<ul id="podcast-list" class="list-unstyled">
    {% for edt_podcast in audios %}
  <div class="each-audio">
    <li class="podcast-list-item">
      <div class="row">
        <div class="col-6 col-sm-3">
          <div class= "podcast-name text-center" data-podcast-id="{{ edt_podcast.audio_id }}">{{ edt_podcast.name }}</div> 
          <audio controls id="audio">
            <source src="{{ edt_podcast.s3_path }}">
          </audio>
        </div>
        <div class="col-6 col-sm-3 my-auto">
          <div class='row'>
            <div class="col-3 col-sm-3">
              <button class="publish-btn btn btn-outline-success btn-md" id="{{ edt_podcast.audio_id }}">{% if edt_podcast.published %}Unpublish{% else %}Publish{% endif %}</button>
            </div>
            <div class="col-3 col-sm-3 offset-sm-1">
              <form enctype="form-data" action="/delete-audio/{{ edt_podcast.audio_id }}" method="POST">
                <input type="hidden" name="delete-audio" value="{{ edt_podcast.audio_id }}">
                <button class="btn btn-outline-danger btn-md">delete</button>
              </form>
            </div>
          </div>  
        </div>
      </div>

    </div>
    </li>
  </div>
{% endfor %}
</ul>

<script src="/static/edit_podcasts.js"></script>
<script src="/static/publish_podcast.js"></script>


{% endblock %}
