{% extends 'base.html' %}
{% block content %}


<h3 class="text-center" id="profile"> Welcome to {{to_follow.username}}'s profile!</h3>
<ul class="list-unstyled">
  {% for audio in audios %}
  <div class="each-audio">
    <li class="user-audio-list">
        <div class="row">
          <div class="col-6 col-sm-3">
            <div class="ad-name text-center">{{ audio.name }}</div>
              <audio controls id="audio">
                <source src="{{audio.s3_path}}">
              </audio>
            <form enctype= "form-data" action="/user/{{user.user_id}}"></form>
          </div>
        </div>
      </li> 
  </div>
{% endfor %}
</ul>

{% endblock content %}