{% extends 'base.html' %}
{% block content %}

{% if session.get("logged_in_user") %}
  <a href="/my-raw-podcasts">raw-podcasts</a> <br>
  <a href="/my-ads">ads</a> <br>
  <a href="/my-podcasts">my-podcasts</a> <br>

{% endif %}


  <div class="uploadmp3" id="podcast-audio">
    <h1>Upload Podcast</h1>
    <form enctype='multipart/form-data' action='/process-upload' method='post'>

      <input type=file name=file>
      <input type=submit value=Upload>
      <input type="hidden" name="audio_type" value="pod">
    </form>
  </div>

  <div class="uploadmp3" id="podcast-audio">
      <h1>Upload Ad</h1>
      <form method='post' action='/process-upload' enctype=multipart/form-data>
        <input type=file name=file>
        <input type=submit value=Upload>
        <input type="hidden" name="audio_type" value="ad">
      </form>
    </div>

{% endblock %}


