<!DOCTYPE html>
<html>
<head>
  <title>Upload new File</title>
</head>

<body>
  <div class="uploadmp3" id="podcast-audio">
    <h1>Upload Podcast</h1>
    <form method=post enctype=multipart/form-data>
      <input type=file name=file>
      <input type=submit value=Upload>
    </form>
  </div>

  <div class="uploadmp3" id="podcast-audio">
      <h1>Upload Ad</h1>
      <form method=post enctype=multipart/form-data>
        <input type=file name=file>
        <input type=submit value=Upload>
      </form>
    </div>

</body>

