{% extends 'base.html' %}
{% block content %}


  <div class="uploadmp3" id="podcast-audio">
    <h1>Upload Podcast</h1>
    <form enctype='multipart/form-data' action='/process-upload' method='post'>

      <input type=file name=file>
      <input type=submit value=Upload>
    </form>
  </div>

  <div class="uploadmp3" id="podcast-audio">
      <h1>Upload Ad</h1>
      <form method='post' enctype=multipart/form-data>
        <input type=file name=file>
        <input type=submit value=Upload>
      </form>
    </div>

{% endblock %}

